:root {
  --primary-color: #000000;
  --background-color: #f8f8f8;
  --text-color: #fefefe;
  --button-background: #ff4d4d;
  --button-color: #ffffff;
  --button-hover-background: #ff3333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #c6d7eb;
    --text-color: #ffffff;
    --button-background: #398dd6;
    --button-color: #ffffff;
    --button-hover-background: #000000;
  }
}

.books-page {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-title {
  color: var(--primary-color);
  text-align: center;
}

.add-book-form {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.add-book-form h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.genre-dropdown label {
  color: var(--primary-color);
  font-weight: bold;
}

.genre-dropdown select {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.genre-dropdown::after {
  content: "\25BE";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--primary-color);
  pointer-events: none;
}

.add-book-button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-book-button:hover {
  background-color: var(--button-hover-background);
}

.table2 {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px;
}

.table-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.table-header {
  font-weight: bold;
  background-color: var(--primary-color);
  color: #ffffff; /* Updated text color to white */
  padding: 10px;
}

.table-cell2 {
  flex-basis: 16.66%;
  padding: 10px;
  color: #ffffff; /* Updated text color to white */
}
.table-cell3 {
  flex-basis: 16.66%;
  padding: 10px;
  color: #000000; /* Set text color to black */
}


.table-cell2 button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.table-cell2 button:hover {
  background-color: var(--button-hover-background);
}

p {
  color: var(--primary-color);
  text-align: center;
  margin-top: 10px;
}


