.container {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #787070;
  margin-top: 100px;
}

.description {
  font-size: 24px;
  color: #787070;
  margin-top: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  width: 350px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  cursor: pointer;
  margin: 0 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #666;
  text-align: center;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-text {
  color: #f2f2f2;
  font-size: 14px;
  text-align: center;
  margin: 2px 0;
}

/* Additional Styles for Enhanced Appearance */

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.navbar-link:hover {
  text-decoration: underline;
}

